<%- include('./components/container/head.ejs') %>
  <header>
    <h1>Register Glucosa</h1>
  </header>
  <ul class="ul-container">
    <% users.map(function(user){ %>
      <h1><%- user.fecha %></h1>
      <p><%- user.nivelazucar1 %></p>
      <p><%- user.medicamento1 %></p>
      <p><%- user.nivelazucar2 %></p>
      <p><%- user.medicamento2 %></p>
    <% }); %>
  </ul>
  <script src="/index.js"></script>
<%- include('./components/container/footer.ejs') %>